@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.layout-container {
    margin: auto 160px;
    background-color: #F5F5F5;
}

/* nav style */

nav ul li {
    list-style: none;
}

nav ul {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-text {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
}

.sign-btn {
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    width: 116px;
    height: 52px;
    cursor: pointer;
    transition: background-color 0.3s ease;


}

.sign-btn:hover {
    background-color: #4b4f53;
    color: #fff4f4;
}

/* banner style */
.banner {
    margin-top: 50px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    height: 560px;
}

.banner-container {
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.banner-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;

}

.banner-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}

.explore-btn {
    width: 270px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    background-color: #191a17;
    color: #fff4f4;
}



/* pillar style */

.pillar {
    margin-top: 80px;
}

.pillar-title {

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}

.card-item {
    padding: 24px;
    width: 302px;
    height: 244px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}

.pilar-img {
    width: 62px;
    height: 62px;
}

.card-item-title {
    margin-top: 25px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
}

.card-item-description {
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.pillar-card-container {
    display: flex;
    justify-content: space-between;
}

/* vision style  */
.vision {
    margin-top: 80px;
}

.vision-title,
.recent-news-title {

    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}

.vision-card-container {
    display: flex;
    justify-content: space-between;

}

.vision-description,
.recent-news-description {
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}

.vision-card {
    padding: 24px;
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;

}

.learn-btn {
    margin-top: 24px;
    width: 122px;
    height: 41px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.learn-btn:hover {
    background-color: #fccfcf;
    color: #000000;
}

.item1 {
    background: rgba(76, 78, 44, 0.4);
}

.item1:hover {

    background: rgba(84, 144, 245, 0.2);

}


.item2 {
    background: rgba(76, 78, 44, 0.4);
}

.item2:hover {

    background: rgb(198, 228, 214);

}

.item3 {
    background: rgba(76, 78, 44, 0.4);
}

.item3:hover {

    background: rgb(247, 235, 207);

}

.btn-color1 {
    background: rgb(84, 144, 245);
}

.btn-color2 {
    background: rgb(9, 161, 92);
}

.btn-color3 {
    background: rgb(255, 194, 57);
}

/* quote style  */
.quote {
    margin-top: 32px;
    height: 256px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: url(../assets/quote-bg.png), white;
    background-repeat: no-repeat;
    background-position: left 24px top 40px;
    display: flex;
}

.quote-container {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;


}

.quote-description {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;

}

.quote-title {
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
}

.quote-subtitle {
    margin-top: 4px;
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}

/* recent news section style  */

.recent-news {
    margin-top: 80px;
}

.news-card {
    padding: 48px;
    height: 402px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

}

.news-card-img {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}

.news-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 12px;
}

.news-time {
    margin: 12px 0;
    display: flex;
    gap: 12px;
}

.date-time {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}

.news-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.news-btn-color {
    background: rgb(0, 106, 80);
}

.news-card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* donate section style  */
.donate {
    margin-top: 80px;
}

.donate-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 24px;
}

.donate-subtitle {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}

.taka-card {
    padding: 40px;
    width: 240px;
    height: 128px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;




}

/* Hover effect */
.taka-card:hover {
    background-color: #61676e;
    color: #fff;
    transform: translateY(-10px);
}

.taka-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}

.taka {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 30px;
    text-align: center;
}

.donate input[type="text"] {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    width: 1332px;
    height: 64px;
    border: none;

}

.donate input[type="text"]::placeholder {
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
}

.input-field {
    text-align: center;
    margin-bottom: 32px;

}

.donate button {
    display: block;
    margin: 0 auto;

}

/* newsletter section style  */
.newsletter {
    margin-top: 80px;
    margin-bottom: 80px;
    height: 395px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.newsletter-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;
}

.newsletter-subtitle {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.newsletter input[type="email"] {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    width: 720px;
    height: 55px;
    border: none;
    border-radius: 8px 0px 0px 8px;

}

.newsletter input[type="email"]::placeholder {

    padding-left: 40px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.subscribe-btn {
    border-radius: 0px 8px 8px 0px;
    width: 150px;
    height: 56px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border: none;
}

.email-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.newsletter-subtext {
    margin-top: 25px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.subscribe-btn:hover {
    background-color: #61676e;
    color: aliceblue;

}